Tugas ini berupa mini project yang diselesaikan diakhir pertemuan bulan pertama. Tugas disusun sesuai dengan materi yang diberikan tiap harinya di pekan 4.

# Dataset

silahkan unduh dataset berikut untuk mengerjakan tugas pekan 4:

[pelanggan_supermarket.csv](https://drive.google.com/uc?export=download&id=1jaxCbZ4fcCneeVCEN-yuxWE0RyX25tbQ)



---



---



---

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Load data dari csv



---



---



---

# Soal 1. Statistika Deskriptif

Lakukan eksplorasi data dengan menggunakan statistika deskriptif. Gunakan pandas untuk mendapatkan summary statistics, dan analisa hasil yang ditampilkan.

**Expected output**

![](https://drive.google.com/uc?id=1-5_d0Ey1lWMXj0d8ABimuPqqTz-h-8mx)



---



---



---

# Soal 2. Handling missing value

Jika dilihat dari summary statistik terlihat dataset memiliki nilai missing. Hitunglah jumlah missing value menggunakan methode .isnull(). 

Isi nilai nan dengan nilai sebelumnya di row tersebut. gunakan method .fillna() dengan argument method bernilai 'ffill', baca dokumentasi https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

Cek keberadaan missing value sebelum imputasi

isi nilai nan dengan menggunakan metode 'ffill'

Cek kembali keberadaan missing value setelah imputasi



---



---



---

# Soal 3. Handling outlier

1. Apakah data set memiliki nilai pencilan untuk setiap kolom? periksalah dengan melakukan visualisasi menggunakan boxplot.
2. Handling outlier tersebut dengan menggunakan teknik trimming / removing outliers (menggunakan teknik IQR)
3. Teknik ini akan menghasilkan nilai missing pada nilai outlier yang telah dihapus, maka hapuslah data missing tersebut dengan menggunakan method .dropna()

In [ ]:
#Tampilkan Boxplot masing-masing kolom berisi data kuantitatif sebelum handling outlier
#Jenis plot yang digunakan adalah boxplot seaborn

In [ ]:
#Hilangkan Outlier dan tampilkan dataframe hasil menghilangkan outliernya

In [ ]:
#Tampilkan Boxplot masing-masing kolom berisi data kuantitatif sesudah handling outlier
#Kolom ID Pelanggan tidak ikut ditampilkan

**Expected output**

- **Melihat adanya pencilan menggunakan Boxplot (Sebelum hapus outlier):**

![](https://drive.google.com/uc?id=1ettD4G8xBMCYcMUVt88kn5k_yCufgdyf)

- **Data frame setelah menghapus outlier:**

![](https://puu.sh/IIOxx/b0d9c3d73e.png)

- **Melihat adanya pencilan menggunakan Boxplot (Setelah hapus outlier):**
![](https://puu.sh/IIOA5/de25854dfa.png)



---



---



---

# Soal 4. statistika Inferential



*   Kita akan melakukan hipotesis terhadap 100 sample pengunjung Supermarket. Hipotesis awal adalah rata2 usia pengunjung supermarket adalah 35 tahun. Ujilah hipotesis tersebut dengan menggunakan teknik probabilitas p-value)!
*   Level significat value acuan (disebut juga level alpha) adalah 5%
*   Gunakan variabel dataframe **hasil handling missing value dan outlier dari soal sebelumnya**
*   Berikan uraian analisis uji hipotesis menggunakan teknik p-value (untuk mendapatkan nilai p-value, silahkan gunakan fungsi **"ztest"** dari library **statsmodels.stats.weightstats**)
*   Untuk mempermudah perhitungan, ubahlah tipe data kolom Umur menjadi int dengan menggunakan methode .astype() baca dokumentasi https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html

In [ ]:
#Lakukan sampling
#Isi bagian yang kosong dengan nama dataframe tempat anda menyimpan hasil no. 3

df_100 = __.sample(100,  random_state=1)
display(df_100)

In [ ]:
#Ubah value kolom Umur dari float menjadi integer

In [ ]:
# menggunakan teknik p-value
# Isi bagian yang kosong

from statsmodels.stats.weightstats import ztest

z_test, p_value = ztest(x1 = ___, value =___)

#print the Results
print(f'Z-test is :{z_test}')
print(f'p-value is :{p_value}')

**Expected Output:**

Z-Test is: 2.48741...
<br>P-value is: 0.01286767...

<br>\[Uraian analisis berdasarkan p-value\]



---



---



---

## Soal 5. EDA

### 5.a. Univariate Analysis

Lakukan eksplorasi data analisis. Gunakan visualisasi distplot untuk melihat sebaran data dan histogram pada setiap kolom **dataset awal sebelum dilakukan handling missing value maupun outlier**.
<br><br>
Jenis plot yang digunakan adalah distplot seaborn

**Expected Output:**

![](https://puu.sh/IIOGG/54e31ca7e0.png)

\[Uraian analisis berdasarkan output grafik analisis univariat yang didapat\]

---

### 5.b. Bivariate Analysis

Lakukan eksplorasi data analisis. Gunakan visualisasi barplot untuk melihat perbandingan skor belanja antara pengunjung perempuan dengan pengunjung lai-laki pada dataset awal **sebelum dilakukan handling missing value maupun outlier**

#### > Sort dataframe berdasarkan Skor Belanja, dari besar ke kecil

In [ ]:
skor = ____

#### > Tampilkan 5 data teratasnya

#### > Tampilkan 5 data terbawahnya

#### > Buat grafiknya menggunakan barplot seaborn

**Expected output:**

![](https://puu.sh/IIOLu/8c1c76b5e4.png)

\[Uraian analisis dari grafik bivariat yang didapat\]

---

### 5.c. Multivariate Analysis

Lakukan eksplorasi data analisis. Gunakan visualisasi heatmap sebagai multivariate analisis untuk melihat korelasi tertinggi dari setiap data pada dataset awal **sebelum dilakukan handling missing value maupun outlier**

Plot menggunakan heatmap seaborn.

In [ ]:
#Isi bagian yang kosong
sns.heatmap(____, annot=True, fmt='.2g')

**Expected Output:**

![](https://puu.sh/IIOQG/57c5ba3219.png)

\[Uraian analisis dari grafik multivariat yang didapat\]



---

---



---

# Soal 6
lakukan scaling data dengan menggunakan standarisasi untuk kolom Umur dan skor belanja saja tetapi **menggunakan variabel dataframe setelah handling missing value dan outlier**

In [ ]:
#feature scaling

from sklearn.preprocessing import StandardScaler

**Expected Output (Hasil yang ditampilkan hanya sebagian):**

![](https://puu.sh/IIOZx/c4bae0561e.png)



---



---



---

# Soal 7

*   Lakukan clustering menggunakan kmeans clustering dengan k =2, dan visualisasikan
*   Gunakan Elbow method untuk menemukan jumlah k kluster yang tepat
*   Gunakan k=3 (rekomendasi methode Elbow) lalu visualisasikan
*   Hitung silhoutte Coefficient dari ke dua hasil prediksi klustering tersebut

In [ ]:
#clustering n=2
from sklearn.cluster import KMeans

In [ ]:
#visualisasi n=2 beserta centroid-centroidnya

In [ ]:
#elbow method beserta visualisasinya

In [ ]:
#clustering n=3

In [ ]:
#visualisasi n=3 beserta centroid-centroidnya

In [ ]:
#tampilan silhoutte score untuk n=2 dan n=3
from sklearn.metrics import silhouette_score

**Expected output**

cluster 2

![](https://drive.google.com/uc?id=1L7nIskGXbeXGhKOzhMWCykJ4jY5538mn)

elbow method

![](https://drive.google.com/uc?id=1a3OL9FhiQ2-DyJQ8sg8PNzfS9QsszyvU)

cluster 3

![](https://drive.google.com/uc?id=1UR6vK36oLJinLPtechjJJBtxifmdFOSn)

---
---
---

## Soal 8. Analyze clustering result

Dari hasil klustering diatas, buatlah sebuah analisa segmentasi pelanggan untuk targetted market supermarket.
Langkah-langkah:

* Buatlah dataframe hasil inverse scaling dari hasil pengerjaan no. 6
* Masukkan label hasil clustering K=3 ke data frame baru ini.
* Tampilkan kembali scatterplot berdasarkan data frame baru ini
* Buatlah uraian analisa dari grafik tersebut
* Berikan rekomendasi kepada manajemen supermarket tersebut untuk meningkatkan penjualan

In [ ]:
#Inverse transform hasil pengerjaan no. 6 kemudian jadikanlah dataframe
inv_scaled = ______

new_df1 = pd.DataFrame(data=____,
                       columns=____)

new_df1['label_k3'] = ____
new_df1

In [ ]:
#Tampilkan dalam scatterplot

\[Tulis uraian analisis grafik yang sudah anda buat di sini\]

**Expected Output:**

* Dataframe hasil inverse scaling (hasil urutan nomor label mungkin berbeda, tapi tetap terdiri dari 0, 1, dan 2) <br>
![](https://puu.sh/IN3jl/3d2c66f2de.png)

* Grafik dari data frame tersebut, warna boleh berbeda, tapi perhatikan angka pada sumbu x dan y: <br>
![](https://puu.sh/IIPUx/d953c4760f.png)

* Uraian analisis & rekomendasi
<br>\[Tulis apa informasi yang kalian dapat dari grafik tersebut dan sertakan rekomendasi kalian untuk meningkatkan penjualan supermarket ini\]